.amst__header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  background: var(--color-bg);
  justify-content: center;
  padding: 0rem 6rem;
}

.amst__header-text {
  justify-content: space-between;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.amst__header-picture {
  width: 100%;
  float: right;
}

.amst__header-picture img {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
}

.amst__header-text h1 {
  color: #ff6d4d;
  font-family: var(--font-family);
  font-size: 172px;
  font-style: normal;
  font-weight: 700;
  line-height: 88%;
  letter-spacing: -1.503px;
}

.amst__header-text h2 {
  color: rgba(0, 0, 0, 0.65);
  font-family: var(--font-family);
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  padding: 0;
}

.amst__header-text button {
  width: 40% !important;
  height: 20% !important;
  max-width: 155px;
  max-height: 80px;
  border-radius: 1.4vw;
  background: #3384e2;
  outline: none;
  border: none;

  color: var(--color-bg);
  font-family: var(--font-family);
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;

  transition: 0.3s;
  color: #fff;
}

.amst__header-text button:hover {
  background: #15539a;
}

@media screen and (max-width: 1840px) {
  .amst__header-text {
    h1 {
      font-size: 9.6vw;
    }

    h2 {
      font-size: 2.5vw;
    }

    button {
      font-size: 2vw;
    }
  }
}

@media screen and (max-width: 700px) {
  .amst__header {
    padding: 2rem 4rem;
  }
}

@media screen and (max-width: 550px) {
  .amst__header {
    padding: 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.5em;
  }

  .amst__header-text h1 {
    font-size: 21.5vw;
  }

  .amst__header-text h2 {
    font-size: 5.5vw;
  }

  .amst__header-text button {
    font-size: 16px;
    /* width: 100% !important; */
    /* border-radius: 0.6vw; */
  }
}
